<app-nav-bar-user></app-nav-bar-user>
<div class="container">
    <div class="row mt-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <!-- <h1>{{userId}}</h1> -->
                <div class="card" >
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <h5 class="ms-3">User Details</h5>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5> -->
                      <p class="card-text">User Id:{{responseData[0].id}}</p>
                      <p class="card-text">Name:{{responseData[0].name}}</p>
                      <p class="card-text">Address:{{responseData[0].address}}</p>
                      <p class="card-text">Email:{{responseData[0].email}}</p>
                      <p class="card-text">Username:{{responseData[0].username}}</p>
                      <p class="card-text">Phone No:{{responseData[0].phoneNo}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>



